
.header__logo{
    flex: 0.4;
    text-align: center;
}
.header__logo__img{
    width: 150px;

}
.header{
    background-color: white;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    height: 100px;
    width: 100%;
    justify-content: space-between;
    z-index: 19;
    position: fixed;
    top:28px;
}
.header__icon{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 0.3;
    justify-content: center;
    width: 100%;
    /* padding-right: 50px; */

    

}
.header>p{
    visibility: hidden;
    flex: 0.3;
}
.header__icon .MuiSvgIcon-root{
    /* margin-right: 10px; */
    cursor: pointer;
    margin-right: 20px;
}
.header__quantity{
    display: inline-block;
    background-color: #bfc7c7;
    font-size: 20px;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 100%;
    font-weight: bold;
    margin: 0;
}
.header__icon div{
    display: inline-flex;
    align-items: center;


}
.header__option{
    display: inline;
    flex-direction: column;
    align-items: flex-start !important;
}
.header__option p{
    margin: 0;
}
.header__optionOne{
    font-size: 14px;
}
.header__optionTwo{
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}