*{
  margin: 0;
}
.onTopButton{
  background-color: rgba(10,13,20,.4);
  
  border-radius: 100px;
  position: fixed;
  bottom: 50px;
  right: 20px;
  cursor: pointer;
  color: #fff;
  z-index: 100;
}

